LOGIN=telufulu
DOMAIN_NAME=telufulu.42.fr

MYSQL_DATABASE=wordpress
MYSQL_USER=wp_user

WP_TITLE=Inception
WP_ADMIN_USER=owner
WP_ADMIN_EMAIL=owner@telufulu.42.fr
WP_USER=user
WP_USER_EMAIL=user@telufulu.42.fr
